{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/carrinho.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Carrinho</title>
</head>

<body>
    <a href="{% url 'produto' %}"><img class="close" src="{% static 'imagens/icones/icons8-delete.gif' %}" alt="fechar"></a>
    <h1>Carrinho de compras</h1>
    <section id="dados">
        <p class="paragrafo1">Insira os seus dados para compra:</p>
        <form action="">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Nome" required>
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" placeholder="Telefone" required>
            <select name="distrito" id="distrito">
                <option value="Água-Grande">Água-Grande</option>
                <option value="Lembá">Lembá</option>
                <option value="Lobata">Lobata</option>
                <option value="Caué">Caué</option>
                <option value="Mé-Zochi">Mé-Zochi</option>
                <option value="Cantagalo">Cantagalo</option>
            </select>
            <label for="localidade">Localidade:</label>
            <input type="text" id="localidade" name="morada" placeholder="Morada" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="email">

            <h2 class="seus_produtos">Os seus produtos:</h2>
            <!--<div id="carrinho_produtos">
                <div class="carrinho_produto"><p>Spray</p>11€<p>Quantidade: 2</p>
                </div>
                <div class="carrinho_produto"><p>Pano de micrófibra</p>27€<p>Quantidade: 1</p>
                </div>
                <div class="carrinho_produto"><p>Pack Óculos e Lentes</p>72€<p>Quantidade: 3</p>
                </div>
            </div>-->

            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr>
                        <td>Spray</td>
                        <td>11€</td>
                        <td>2</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                    </tr>
                    <tr>
                        <td>Pano de micrófibra</td>
                        <td>27€</td>
                        <td>1</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                    </tr>
                    <tr>
                        <td>Pack Óculos e Lentes</td>
                        <td>72€</td>
                        <td>3</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                    </tr>-->
                </tbody>
            </table>

            <!--text area para enviar os dados para back end-->
            <textarea name="Produtos" style="display: none;" id="textarea_produtos" cols="30" rows="10"></textarea>

            <div id="div_total_compras">
                <p>Total: <span></span>€</p>
                <!--input para enviar o total para back-end-->
                <input type="hidden" name="total" value="" id="input_total">
            </div>

            <button type="submit">finalizar compra</button>
        </form>
        <div id="Mensagens">
        </div>
    </section>
    <section class="forma_entrega">
        <h2>Forma de entrega dos produtos</h2>
        <ul>
            <li>O sue produto será separado na loja física de modo com que que o cliente terá que requerer a mesma apra
                pegar o seu produto.</li>
            <li>A outra forma caso o cliente queira, poderá ser feita a entrega ao lugar indicado pelo mesmo, sendo
                assim cobrado um valor adicional pelo transporte tendo em conta o lugar da entrega.</li>
        </ul>
        <p class="paragrafo2">Entraremos em contato com o cliente para a confirmaçpão da compra</p>
    </section>

    <div class="bola bola11"></div>
    <div class="bola bola12"></div>

    <script src="{% static 'js/carrinho.js' %}"></script>
    <script>

        // CSRF Token

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        /*fim do csrf*/

        var formulario = document.querySelector('form')
        formulario.addEventListener('submit', function (e) {
            e.preventDefault()
            console.log('form submitted')

            // enviar os dados
            var url = 'http://127.0.0.1:8000/api/encomenda-create/'
            // pegar os valores do formulário
            var nome_requerente = document.querySelector('#nome').value
            var telefone_requerente = parseInt(document.getElementById('telefone').value)
            var distrito_requerente = document.querySelector('#distrito').value
            var morada_requerente = document.querySelector('#localidade').value
            var email_requerente = document.querySelector('#email').value
            var produtos = document.querySelector('#textarea_produtos').value
            var total = document.querySelector('#input_total').value

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'nome': nome_requerente,
                    'telefone': telefone_requerente,
                    'distrito': distrito_requerente,
                    'morada': morada_requerente,
                    'email': email_requerente,
                    'lista_produtos': produtos,
                    'total': total,
                })
            }).then(function (response) {
                console.log('encomenda registada')
                document.querySelector('form').reset()
            })
        })

    </script>

</body>

</html>