{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">


    <title>Produtos</title>
</head>

<body>

    <!--Menu-->
    <nav>
        <h1>REEM Óticas</h1>

        <ul class="menu_menu">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'produto' %}"><span id="aba_autal">Produtos</span></a></li>
            <li><a href="{% url 'agendamento' %}">Agendamento</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
        <img src="{% static 'imagens/icones/icons8-menu-30.png' %}" alt="botão menu" class="menu_btn" open_menu()>
        <img src="{% static 'imagens/icones/icons8-delete-30(1).png' %}" alt="fechar menu" class="fechar_menu_btn">

    </nav>

    <main>
        <div id="barra_pesquisa">
            <form action="{% url 'pesquisa' %}" method="get">
                <input type="search" placeholder="Procure aqui" name="termo" value="{{ request.GET.termo }}">
            </form>
            <div class="carrinho_de_compras"><a href="{% url 'carrinho' %}"><img
                        src="{% static 'imagens/icones/icons8-shopping-bag-full-30.png' %}"
                        alt="carrinho de compras"><span class="numero_itens">0</span></a></div>
        </div>
        <div class="texto3">
            <p>A possibilidade de comprar os seus produtos oculares online de forma prática e rápida</p>
        </div>
        <section class="todos_produtos">
            {% for produto in produtos %}
            {% if produto.disponivel %}
            <div class="produto">
                <img src="{{ produto.imagem.url }}" alt="porta óculos">
                <p>{{ produto.nome }}</p>
                <p>{{ produto.preco }}€</p>
                <form action="#" method="POST">
                    <input type="number" name="" id="prod_qt{{produto.id}}" placeholder="Quantidade" min="0">
                    <button type="button"
                        onclick="pegar_produto({{ produto.id }}, '{{ produto.nome }}', {{ produto.preco }})">adicionar</button>
                </form>
            </div>
            {% endif %}
            {% endfor %}

            <div id="Mensagens">
            </div>

            <!--Paginação-->
            <div id="paginacao">
                <div class="paginacao">
                    {% if produtos.has_previous %}
                    <a href="?page=1"><span>primeira</span></a>
                    <a href="?page={{ produtos.previous_page_number }}"><span>«</span></a>
                    <a href="?page={{ produtos.previous_page_number }}"><span>{{ produtos.previous_page_number }}</span></a>
                    {% endif %}
                    
                    <a href="#"><span>{{ produtos.number }}</span></a>
                    
                    {% if produtos.has_next %}
                    <a href="?page={{ produtos.next_page_number }}"><span>{{ produtos.next_page_number }}</span></a>
                    <a href="?page={{ produtos.next_page_number }}"><span>»</span></a>
                    <a href="?page={{ produtos.paginator.num_pages }}"><span>última</span></a>
                    {% endif %}
                </div>
            </div>

        </section>

    </main>

    <!--rodapé-->
    <footer>
        <p>Veja o mundo com amor &copy;REEM Óticas todos os diretios reservados</p>
        <a href="#">Termos de uso</a> | <a href="#">Politicas de privacidade</a>
    </footer>



    <!--arquivos js-->
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/produtos.js' %}"></script>
    <script src="{% static 'js/produtos_localstorage.js' %}"></script>

</body>

</html>